
    img {
        transition: transform 0.2s ease-in-out;
    }

    img:hover {
        transform: scale(1.2); /* Увеличение флага при наведении */
        cursor: pointer; /* Указывает, что на флаг можно навести */
    }

    .container {
        width: 100%; /* Контейнер занимает всю доступную ширину */
        display: block; /* Гарантирует, что элемент будет строчным */
    }
    
    .full-width {
        display: block; /* Делает элемент блочным */
        width: 100%; /* Элемент занимает всю ширину контейнера */
        text-align: left; /* Можно выравнять текст (по умолчанию влево) */
    }

